$orange: #f70;
$cyan: #057cff;
$green: #4b8847;
$primary: #00447c;
$secondary: #426f9a;

$body-color: $primary;
$primary-bg-subtle: #f3f7ff;

$font-family-sans-serif: montserrat, calibri, sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
