{{page-title "EmberDesignTutorial"}}

<main class="vh-100">
  <Header class="bg-primary-subtle p-2">
    <:center>
      <p class="m-0">Ember Design Tutorial</p>
    </:center>
    <:right>
      <ThemeSwitcher />
    </:right>
  </Header>
  <div class="p-5 d-flex justify-content-center">
    <GreetingModal />
  </div>
  {{outlet}}
</main>